{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<form action="#" method="post">
    <strong><p style="font-size:30px"><strong>{{content}}</p>
    <p>Enter an ID:</p></strong>
    <p><input type="text" name="id" placeholder="Enter ID" /></p>
    <p>Enter a name:</p></strong>
    <p><input type="text" name="nm" placeholder="Enter Name" /></p>
    <p>Enter points:</p></strong>
    <p><input type="text" name="pts" placeholder="Enter Points" /></p>
    <p><input type="submit" name="submit" /></p>
</form>
    <strong><p style="font-size:20px">{{result}}</p></strong>
        {{not_found}}
        {% for item in not_found_entries %}
            <p>Id: {{item}}</p>
        {% endfor %}
{% endblock%}